{{!-- step 7 - create post view --}}

<h1>Fro-Yo Problems</h1>
<ul>
	<li>Too Cold!</li>
	<li>No Flavor</li>
	<li>Too Much Candy</li>
	<li>Paying by Weight</li>
	<li>Fro-Yo related terrorism</li>
	<li>Fro-Yo Bubble</li>
</ul>

<form>
	<input name='title' placeholder='Title'/>
	<input name='author' placeholder='Author'/>
	<input name='date' placeholder='Date'/>
	<input name='text' placeholder='Your fro-yo related blog post here'/>
	<button>Submit</button>
</form>